extends ../layout

block append head
    link(rel='stylesheet', href='/stylesheets/' + username + '.css')
    link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/flatly/bootstrap.min.css", rel="stylesheet")

block content
    block subcontent