extends layout

block subcontent
  h1=title
  a(href='/jepassanante') Back to my profile
  div.area
    img#icon(src="https://uploads-ssl.webflow.com/5df03da692c43b764fe03218/5df192e79bca42888a19d2b2_Arist%20Logo%20(1)%20(1)-p-500.png", alt="Arist")
    a(href="https://arist.co", target="_blank", rel="noopener noreferrer") Arist, a learning platform for distributed work forces. 
  div.area
    img#icon(src="https://quinnipiacfiji.com/images/Phi-Gamma-Delta-BCL-Logo---WEBSITE.png", alt="Arist")
    a(href="https://quinnipiacfiji.com/", target="_blank", rel="noopener noreferrer") FIJI! I wasn't good enough to get in... but I made them this site!
