extends layout

block subcontent
  h1= title
  p Welcome to #{title} (Giovanni Greco)
  p Some of my hobbies:
  ul 
    li Hanging with friends
    li Video Games
    li Poker
    li Travelling
    
  p
       | Link to
       a(href = '/gagreco/second') Second Page
