extends ../layout

block append head
    link(rel='stylesheet', href='/stylesheets/' + username + '.css')

block content
    block subcontent
    p
        | Link to
        a(href = '/gagreco/second') Second Page