extends layout

block subcontent
  h1= title
  h2= 'Hobbies'
  ul
    li Working out
    li Playing soccer and basketball
    li Stock trading
    li BRAWL STARS (Add my player ID: 88QUV9UCQ)

  h2= 'Fun Facts'
  ul
    li I learned how to cut hair by watching YouTube videos.
  
  p Click here for tips on 
    a(href='thdao/stock') stocks.
