extends layout

block subcontent
    h1= title
    h2= 'Warren Buffett\'s top 10 tips for investing:'
    p 1. Never lose money.
    p 2. Get high value at low price.
    p 3. Form healthy money habits.
    p 4. Avoid debt, especially credit card debt.
    p 5. Keep cash on hand.
    p 6. Invest in yourself.
    p 7. Learn about money.
    p 8. Trust a low-cost index fund for your portfolio.
    p 9. Give back.
    p 10. View money as a long term game.
    p 
    | Click 
    a(href = "https://join.robinhood.com/thangd38") here 
    | to sign up for Robinhood and receive a free stock!
    p There is a chance of getting a big company stock such as Apple or Facebook!
    p
        a(href='/thdao') Back


    