extends layout

block subcontent
  h1= title
  p Welcome to #{title}
  p Profile:
  p Year: Senior
  p Major: Computer Science
  p Hometown: Orange, Connecticut
  p
   | Link to
   a(href='/cacooper/bio')  bio page
