extends layout

block subcontent
  h1= title
  p Welcome to the bio page!
  p
   | Link back to
   a(href='/cacooper')  main page

  p About:
  p I've played baseball since I was 5 and am a big New York Yankees fan. My first year at Quinnipiac, I co-founded the Hamden Braves baseball club.
  p That team turned into what is now the offical club baseball team. I currently have three jobs at the moment. My first is working at the gym on campus,
  p I also coach on the weekends, and I am also a waiter. I'm excited to finish up my last semester here.
