extends layout

block subcontent
  h1= title
  p.intro
    | Here is a cool video:
    br
    a(href='https://www.youtube.com/watch?v=dQw4w9WgXcQ', target='_blank') https://www.youtube.com/watch?v=dQw4w9WgXcQ
  p 
    | Link to 
    a(href='/naorekhov/second') The Second Page
  


    