extends layout

block subcontent
  h1= title
  p.intro
    | Here is the same cool video but in 4k 60fps:
    br
    a(href='https://www.youtube.com/watch?v=bxqLsrlakK8', target='_blank') https://www.youtube.com/watch?v=bxqLsrlakK8