extends ../layout

block append head
    link(rel='stylesheet', href='/stylesheets/' + username + '.css')

block content
    div#header Made by: Henok Ketsela
    block subcontent
    div#footer Moduel four assignment