extends layout

block subcontent
  h1= title
  p This is another page that is much cooler than the previous one
  p It uses Quinnipiac colors
  p Here is a link to the 
    a(href='/rmhayes') previous page
  


