extends layout 

block subcontent
    h1= title
    p Welcome to #{title}
        p Here's 5 fun facts:
        li I'm the youngest in my entire family.
        li I'm a lefty.
        li I've traveled to 5 different countries.
        li I've never broken a bone.
        li I'm the first computer science major in my family.