extends layout

block subcontent
  h1= title
  p Welcome to #{title}
  p
    | Link to 
    a(href='/cjflores1/another') another page
  p
    | Link to 
    a(href='/cjflores1/yetanother') yet another page