extends layout

block subcontent
    h1= title
    p This is the third page. Here is where I'll share why I chose computer science as my major.
        p Coming into college the only experience I had with computer science was one cs class in high school. Although it was very basic, this class sparked my interest for technology and programming. Even in college I was still unsure if this was the major I wanted to study and I even debated on switching on many occasions. It wasn't until sophomore year when I took a software development class that gave me hands on experience like no other. This solidified that this was what I wanted to do in my future career. And so here I am :)