extends layout

block content
  h1= title
  p.intro
    | Welcome to the #{title}.
    | Below you should see your username, which will link you to
    | your section of the application.

  p.intro
    | This code can be found here:
    br
    a(href='https://github.com/RationalGeek/classcollab.git', target='_blank') https://github.com/RationalGeek/classcollab.git
  
  p.intro
    | And hosted here:
    br
    a(href='https://ser300fa2021classcollab.herokuapp.com/', target='_blank') https://ser300fa2021classcollab.herokuapp.com/

  p.intro
    | Get started modifying the routes and pages that are specific 
    | to your user, and then send me a pull request to incorporate.

  ul
    each user in users
      li
        a(href='/' + user)= user
