extends layout


block subcontent
  h1= title
  p Welcome to #{title}
  p
   | my name is Bryan Sullivan I am a senior at Quinnipiac for a BS in Computer Science and a minor in Math. My hobbies consist of surfing, coding, and watching movies. One 
   | movie that I had just watched was mother!. It was a horror thriller which I dont think was all of that good. 
  
  