extends layout

block subcontent
  h1= title
  p Welcome to Tom's Page
  p Age: 21 turning 22 this year
  P From: Chappaqua, New York
  p Hobbies: Music production and gaming
  p 
    | Link to my social media 
    a(href='tacouto/pagetwo') Socials Page