extends layout

block subcontent
  h1= title
  p Welcome to my social media page
  p LinkedIn: 
    a(href="https://www.linkedin.com/in/thomas-couto-18a95012a/", target="_blank", rel="noopener noreferrer") https://www.linkedin.com/in/thomas-couto-18a95012a/
  p Instagram: 
    a(href="https://www.instagram.com/tom.couto/", target="_blank", rel="noopener noreferrer") https://www.instagram.com/tom.couto/
  p Facebook: 
    a(href="https://www.facebook.com/tommy.couto", target="_blank", rel="noopener noreferrer") https://www.facebook.com/tommy.couto
  p Github: 
    a(href="https://github.com/tomcouto", target="_blank", rel="noopener noreferrer") https://github.com/tomcouto