/* Put any user-specific styles here */
*{
font-family:Georgia, 'Times New Roman', Times, serif;
}
h1{
    color:whitesmoke;
}
body{
    background:#333;
}
p{
    font-size: 1.3rem;
    color:#fff;
}
p.small{
    color:navajowhite;
}
a{
    text-decoration: none;
    color:#fff;
}
a:hover{
    background:blue;
    opacity: .7;
    border-radius: 20px;
}
p.info{
    font-size: 1.2rem;
}