/* Put any user-specific styles here */

body{
    position: absolute;
    content: '';
    top: 0;
    left: 0%;
    width: 80%;
    height: 100%;
    background: #ff709e;
    margin: 0;
    padding: 0;
    font-family: sans-serif;

    background-position: 85%, 0%;
    background-size: 40%;
    background-repeat: no-repeat;
}

h1{
    margin: 0;
    padding: 0;
    font-family: "Edwardian Script ITC";
    font-size: 125px;
    transform: translate(20%, 30%);
}

whitebox {
    position: absolute;
    top: 40%;
    left: 0%;
    width: 1280px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.7);
    padding: 60px;
    box-sizing: border-box;
}

div {
    font-family: "Calibri Light";
    font-size: 20px;
    text-align: center;
    color: black;
    transform: translate(20px, 20px);

}

/*About Me Page*/
h2{
    margin: 0;
    padding: 0;
    font-family: "Edwardian Script ITC";
    font-size: 125px;
    text-align: center;
    transform: translate(90px, 0px);
}
h3 {
    margin: 0;
    padding: 0;
    font-family: "Calibri Light";
    font-size: 50px;
    text-align: center;
    transform: translate(90px, 40px);
}
p {
    font-family: "Calibri Light";
    font-size: 20px;
    text-align: center;
    color: black;
    transform: translate(90px, 90px);
}
whitebox1{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 1280px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.7);
    padding: 80px;
    box-sizing: border-box;
}
goback {

}