extends layout

block subcontent
  h1= title
  p Welcome to #{title}

  p
   | Link to 
   a(href='/asazhin/page2') asazhin's second page
  P

   h1 I Play golf On the Quinnipiac Golf Team
   p
   | Link to my Profile 
   a(href='https://gobobcats.com/sports/womens-golf/roster/alexandra-sazhin/8140') On the QU website
   P