extends layout

block subcontent
  h1= title
  h2 This is my personal page made by Eamon
  p Interests: Climbing and Hiking
  p Link to things that are cool: 
    a(href='https://www.nationalgeographic.com/magazine/2019/02/alex-honnold-made-ultimate-climb-el-capitan-without-rope/') cool climbing article on the movie 'Free Solo'
  p Favorite Foods: Really anything spicy, I put Franks Buffalo Sauce on everything
  p my css change is p tags small and bigger, enjoy
