extends layout

block subcontent
  h1= title
  p Crucial information about Dylan:
  p I enjoy running, aiming to get a 5K under 20 minutes.
  p I love snowboarding, thinking of buying a new board built specifically for speed.
  p Some of my favorite movies include Skyfall, Moneyball, Thor: Ragnarok, to name a few.
  | Back to 
  a(href='/dnirwin') the beginning.
