extends layout

block subcontent
  h1= title
  p Welcome to #{title}
  p 
  | Link to
  a(href= '/hadewhurst/secondPage') Second Page
  p I am really bad at coding but this is an attempt at writing some text in my first page.