extends layout

block subcontent
  h1= title
  p This is the second page that I created!
  p I have recently taken up Pickle Ball as a hobby, it is super fun and easy to play. There are really nice courts in Cheshire on Whitney Ave. and I like to go and play there a lot.
  


