extends layout

block subcontent
  h1= title
  p I am 22, getting kinda old 
  p Hobbies include video games, hiking, and varius creative acitvites    
  p Come check out my {
    a(href="https://steamcommunity.com/id/SlothGamr", target="_blank", rel="noopener noreferrer") Steam Profile
    }, I really enjoy 100% completing games.
  h4 Final Challenge:
  p One of these is my final Page, One isn't. Will you take the 50/50?
  a(href="https://youtu.be/dQw4w9WgXcQ?autoplay=1", target="_blank", rel="noopener noreferrer") Link #1
  < or >
  a(href='/jcbryce/second') Link #2