extends layout

block subcontent
  h1= title
  h5 Congratulations, you made the correct choice.
  p You are allowed to 
    a(href='/jcbryce') return
  h4 Fun Fact:
  p Math says its a 50/50 chance, however i believe most pick the first over the second most times.
  p Slightly uneven chance, like BlackJack.