extends layout
block subcontent
  h1= 'My favorite baseball team is the New York Mets'
  h2= 'Some of my favorite moments:'
  p  
  a(href='https://www.youtube.com/watch?v=MGxuvY2zT4Y&t=47s') Pete Alonso breaks single season rookie home run record
  p
  a(href='https://www.youtube.com/watch?v=UmL4rNYmJ9U') Wilmer Flores hits walk off Homerun
  p
  a(href='https://www.youtube.com/watch?v=qMkcTmrOybc') Mets win the 2015 NLCS

  p 
  a(href='http://signstealingscandal.com') Interesting report about Astros’ cheating scandal:
  p
  a(href='/rmclark') Go back to homepage