extends layout

block subcontent
  h1= title
  p Yarn Craft: A lost art that should be found because it is awesome

  h2= 'Crochet'
  p I have been crocheting for around 3 years at this point and I absolutely love it. Freshman year at the involvement fair I came across a club called StitchItForward which was just starting up. I'd always wanted to learn some sort of craft (soldering turned into me being a hazard to myself and others), and I had always heard stories about my great-grand mother who could knit anything. The club only had an extra crochet hook that night, and so started my journey. My first project, a square, quickly turned into a triangle. My most advanced project to date actually turned out looking like it should have (see below)
  p My dog also likes when I crochet, he seems to have an obsession for sitting and laying on whatever I make (say hi to Dewie :))

  img(src='/images/mforster/Giraffe.jpg' style="width:200px;height:300px;" hspace="20")
  img(src='/images/mforster/Dewie1.jpg' style="width:200px;height:300px;" hspace="20")
  img(src='/images/mforster/Dewie2.jpg' style="width:200px;height:300px;" hspace="20")
  img(src='/images/mforster/Dewie3.jpg' style="width:200px;height:300px;" hspace="20")



  h2='Knitting'
  p Knitting I just started picking up this year, roughly a week ago to be exact. It is a bit harder than crochet, but I haven't gotten really far so I am going to reserve my judegement. I find it a more relaxing than crochet though things to do take quite a bit longer. I also keep accidentally stabbing myself with the knitting needles.Since I've just started I don't have any pictures of projects completed, so instead enjoy images of my arch-nemesis in yarn work.
  img(src='/images/mforster/socks1.jpg' style="width:200px;height:300px;" hspace="20")
  img(src='/images/mforster/socks2.gif' style="width:200px;height:300px;" hspace="20")
  img(src='/images/mforster/socks3.jpg' style="width:200px;height:300px;" hspace="20")

  h2='TL;DR'
  p Go learn how to knit/crochet (it is fantastic) and if you can and learn to make socks before me run

  p
   a(href='/mforster') Go back to the main page!
  P
  p
   a(href='/mforster/page3') Learn about my future zoo
  P