extends layout

block subcontent
  h1= title
  p This is my Hobbies page!
  p One of my biggest hobbies is cooking. Every year I cook my family a meal for Christmas Dinner. I want to get better at it and cook more regularly but it is time consuming to learn.
  p
  p Another hobby of mine is chess. I used to play a lot of chess when I was younger, but now I don't play nearly as much as I don't have the time for it but it would be fun to get back into more often.
  p
  p Finally another hobby is playing golf. I am not particularly good at it, but since I live next to a golf course back home my friends and I like to go out and play a few rounds every once in a while. Especially during the Summer when we are all home from school.
  p
    | Link to 
    a(href='/ajsanteramo') Home Page
