extends layout

block subcontent
  h1= title
  p Welcome to #{title}
  p 
    | Here is a link back to the 
    a(href="/") Home Page.
  p 
    | Link to my 
    a(href="/tjcarta/linkedin") LinkedIn page.
  
  