extends layout

block subcontent
  h1= title
  p Welcome to #{title}
  p 
    | Here is a link back to my 
    a(href="/tjcarta") Main Page.
  
  div
    h3 Add Me On LinkedIn!

    a(href="http://www.linkedin.com/in/timothycartajr")
      button  CONNECT WITH ME 