extends layout

block subcontent
  h1= title
  p This is the SECOND page that mbadalamente made. How fun!
  p  
  | You know what else is fun? fun facts!! 
  | mbadalamente is a computer science major at Quinnipiac Univesity who also has a love for cats, musicals, and coffee!