extends layout

block subcontent
  h1= title
  p Welcome to the WONDERFUL #{title}
  p Maybe someday this page will hold all the information you need to know about mbdalamente
  p
    | Oh look! For now, here is a link to 
    a(href= '/mbadalamente/another') ANOTHER
    |  page!