extends layout

block subcontent
  h1= title
  p Ruby hails from the island of Patch, where she was largely raised by her elder half-sister, Yang Xiao Long. Her mother is Summer Rose, a Huntress who died prior to the start of the series; her father is Tai Yang Xiao Long, a Huntsman and teacher at Signal Academy, where Ruby attended before being invited to Beacon. The youngest member of Team RWBY, Ruby often appears fun-loving and innocent - Blake describes her as the embodiment of the word 'purity' - yet she takes her role as leader of the team seriously. Her weapon of choice is Crescent Rose, a scythe with a built-in sniper rifle that Ruby can use to fight in melee or long-range combat. Having designed the weapon herself, Ruby is very proud of its design, but also enjoys looking at other weapons. Her semblance, Petal Burst, allows her to move incredibly fast for periods of time, leaving rose petals in her wake and also turn into a burst of petals herself. It is suggested that there is more to her semblance than is let on by Harriet Bree in Volume 7. Due to her eye color, Ruby can also harness the powers of the Silver-Eyed Warrior, which allow her to turn Grimm to stone.
  p 
  | Link to 
  a(href="/macallahan1/weissschnee") Weiss Schnee's About Me.
   p 
  | Link to 
  a(href="/macallahan1/blakebelladonna") Blake Belladonna's About Me.
  p 
  | Link to 
  a(href="/macallahan1/yangxiaolong") Yang Xiao Long's About Me.
