extends layout

block subcontent
  h1= title
  p Daughter of the Chief of Menagerie and former leader of the White Fang, Blake is a cat faunus with black cat ears on her head. She grew up on the island given to the faunus (a human like species with animal traits) for their participation in the Great War about 80 years prior to the start of the series. Yet, equality between the species does not exist so as a result, her family and herself began protesting for equality as part of the organization known as the White Fang, which later became militant. As the group's protesting became more violent, Blake stayed with the organization while her parents left in order to rule Menagerie. However, she left later after realizing she no longer agreed with the way the White Fang was protesting and joined Beacon to become a Huntress. Frequently described as quiet, secretive and moody, Blake loves books and seldom lets anyone know about her past. Her weapon is Gambol Shroud, a sword with a pistol in the hilt which she uses to stealthily attack enemies both up close and from a distance. She also uses the sheath itself in combat as well to block and carry out attacks with the blade. She carries it on a magnetic backpack attached to her back. Blake's semblance, Shadow, allows her to create clones of herself to give her momentum and disorient enemies to evade an attack. When combined with Dust, the clones can also have additional uses, such as exploding upon contact or trapping weapons in ice.
  p 
  | Link to 
  a(href="/macallahan1") Ruby Rose's About Me.
   p 
  | Link to 
  a(href="/macallahan1/weissschnee") Weiss Schnee's About Me.
  p 
  | Link to 
  a(href="/macallahan1/yangxiaolong") Yang Xiao Long's About Me.
