extends layout

block subcontent
  h1= title
  p Former heir to the Schnee Dust Company, Weiss joined Beacon Academy in order to train to become a Huntress and make her family name proud in her own way. People frequently call her 'Ice Queen' due to her initially cold and rude demeanor, however Weiss demonstrates a genuine care for her friends once people get to know her. Her weapon of choice is Myrtlenaster, a rapier with dust cartridges stored in the hilt which Weiss can combine with her semblance in order to bolster her attacks. Her semblance, Glyphs, is heriditary and held by all members of the family hailing from Atlas. Using her Glyphs, Schnee can manipulate push/pull forces, summon enemies she has defeated to fight on her behalf and dilate time in combonation with dust, among other uses.
  p 
  | Link to 
  a(href="/macallahan1") Ruby Rose's About Me.
   p 
  | Link to 
  a(href="/macallahan1/blakebelladonna") Blake Belladonna's About Me.
  p 
  | Link to 
  a(href="/macallahan1/yangxiaolong") Yang Xiao Long's About Me.
