extends layout

block subcontent
  h1= title
  p Incredibly proud and protective over her golden locks, Yang is the feisty, flirty, big sisterly figure of Team RWBY. The biological half sister of their leader herself, Yang also grew up on Patch, raising Ruby mostly by herself as her father was working and her stepmother was off on missions frequently. Yang's own mother, Raven Branwen, left her and her father when she was quite young in order to become leader of her tribe. As a result, Yang spent several years searching for her mother until she eventually found her during the series. Their face shapes are near identical, but Yang recieved her father's golden hair and has lavender eyes. Nevertheless, her eyes turn red when she is angry (and when she uses her semblance). Described as a 'temper tantrum' by her father, Yang's semblance, Burn, enables her to store the damage an enemy invokes on her and deal back twice as much with hits through her own weapon, Ember Celica. Ember Celica is a pair of twin shotgun gauntlets which look like bracelets that attach to Yang's wrists. She can use them much like boxing gloves in close quarters combat and fire grenades from them or projectiles which explode on contact which are capable of knocking enemies back. She also greatly cares for her motorcycle named Bumblebee.
  p 
  | Link to 
  a(href="/macallahan1") Ruby Rose's About Me.
   p 
  | Link to 
  a(href="/macallahan1/weissschnee") Weiss Schnee's About Me.
  p 
  | Link to 
  a(href="/macallahan1/blakebelladonna") Blake Belladonna's About Me.
