extends layout

block subcontent
  h1= title
  p Welcome to my wonderful page SECOND page
  p
    | Here is the link to 
    a(href = '/ajetienne') my original page!

    p Here are my top 5 favorite songs at the moment

    p 
        | 
        a(href = 'https://www.youtube.com/watch?v=fUG2g0W9rFA') KJ - Risk (feat. Bas)

     p  
        |  
        a(href = 'https://www.youtube.com/watch?v=e7pV6Eo1I0k') Wale - Love ... (feat. Bryson Tiller)

     p    
        | 
        a(href = 'https://www.youtube.com/watch?v=u_C4onVrr8U') Miguel - Come Through and Chill (feat. J.Cole)

     p  
        | 
        a(href = 'https://www.youtube.com/watch?v=FFuZ2avoYmw') Ari Lennox - Shea Butter Baby (feat. J.Cole)

     p   
        | 
        a(href = 'https://www.youtube.com/watch?v=SsKT0s5J8ko') Mac Miller - Self Care

