
extends layout

block subcontent
  h1= title
  p Welcome to my wonderful page, I hope you enjoy!
  p Click the link to my other page!
  p
    | Here is the link to 
    a(href = '/ajetienne/another') my other page!

  p My favorite show is Demon Slayer. It just won anime of the year!
    | Check out the 
    a(href = 'https://www.youtube.com/watch?v=VQGCKyvzIM4') trailer

  p Another great show is Attack on Titan.
    | You can find the  
    a(href = 'https://www.youtube.com/watch?v=6scZ1qj2w38') trailer for season 1 here

  p And just cause, 
    | here is my favorite 
    a(href = 'https://www.youtube.com/watch?v=hm-zgEdCRes') My Hero Academia fight scene

