extends ../layout

block append head
    link(rel='stylesheet', href='/stylesheets/' + username + '.css')

body 
 block content  
   block subcontent  
   div#footer I hope you enjoyed exploring my pages!
   

