extends layout

block subcontent
  h1= title
  p Welcome to my Special page
  p My name is Harrison and i'm currently a sophmore.
  p Hobbies:
  p - I like to watch basketball and football
  p - I like to workout
  p - I like to play games like super smash bros or call of duty

  p
    | Here is a link to
    a(href='/secret')  my secret page
