extends layout

block subcontent
  h1= title
  p Welcome to my Secret page
  p Now keep this a secret
  p
    | Here is a link back to go
    a(href='/')  back to the main page

    p
      | Here is a link back to go
      a(href='/hdominique')  back to my page
