extends layout

block subcontent
  h1= title
  p Welcome to #{title}

  p  Your path you must decide.

  p
    | Link to
    a(href='/amartin1/another') another page


  p
    | Link to
    a(href='/amartin1/yetanother') Third page