extends layout

block subcontent
  h1= title
  p Welcome to #{title}
  p.small I understand that the point of jade is to be able to type HTML quicker, but it is a bit confusing to me with the lack of tags and whatnot.
  p.info My hobbies include running, skiing, geocaching, and playing video games!
  p
    | Click 
    a(href='https://www.geocaching.com/guide/') here to read an article on geocaching!
  p
    | Click 
    a(href='../jzemlanicky/') here to return to my first page