extends layout

block subcontent  
  p Welcome to #{title}

  p 
    | Click this link to go to  
    a(href='/srippolito/second') learn about Stephen Ippolito
  p 
    | Click this link to go to  
    a(href='/srippolito/third') see a squirrel

