extends layout

block subcontent
  p 
    | Stephen Ippolito is an engineering student at Quinnipiac University studying Computer Science.
    | He is a senior and will be attending Quinnipiac Univeristy part time during the spring semester.
    | In his free time he enjoys playing games with friends, watching science fiction movies and shows,
    | and hanging out with his pet cat. Stephen commutes to school from Westport CT. He currently works 
    | as a manager at his local Petco, where he gets to be with animals, which is one of his favorite things.
    
  p 
    | Click this link to go to  
    a(href='/srippolito') the main page
  p 
    | Click this link to go to  
    a(href='/srippolito/third') see a squirrel
