extends layout

block subcontent

  img(src='/images/squirrel.jpg', alt='Squirrel', style='width:100%')
  
  p 
    | Click this link to go to  
    a(href='/srippolito') the main page
  p 
    | Click this link to go to  
    a(href='/srippolito/second') learn about Stephen Ippolito
    
  