extends layout

block subcontent
  h1= 'Joseph Mannarino'
  p Welcome to My Page About Me!
  p Click the link to see several pictures of hobbies that I enjoy.
  p |
  p |
  p
    | Link to 
    a(href='/jrmannarino/another') Hobbies
