extends layout

block subcontent
  h1= 'Joseph Mannarino'
  p Welcome to My Page About Me!
  p Here are several links to pictures of hobbies that I enjoy,
  P I hope looking at them excites you as much as it excites me!
  p |
  p |
  p 
    | Link to 
    a(href='https://wallpaperplay.com/walls/full/6/0/6/293266.jpg') Snowboarding
  p
    | Link to 
    a(href='https://www.instagram.com/p/zsY9ZXrvJFEGUh64beA_dlzlx3orJtmz7a7W80/') Snowmobiling 
  p
    | Link to 
    a(href='https://wallpaperplay.com/walls/full/0/c/7/77192.jpg') Fishing
  p
    | Link to 
    a(href='https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQmYVFf6E5bKsolCdyQXBE4zvyCCOkPASRNY120Br-2uF1ImEEs') Scuba Diving
  p
    | Link to 
    a(href='https://www.islandexpeditions.com/sites/default/files/archived-blog-images/lobster-blog.jpg') Lobster Diving
  p
    | Link to 
    a(href='https://hdwallpaper20.com/wp-content/uploads/data/2018/3/5/football-wallpapers-hd-PIC-HWB39591-1024x576.jpg') Soccer
  p
    | Link to 
    a(href='https://cdn.suwalls.com/wallpapers/games/three-cars-chasing-the-ball-in-rocket-league-51094-1920x1080.jpg') Video Games
  P
    | Link to 
    a(href='https://www.adonstudios.com/') Adon Studios



