extends layout

block subcontent

    whitebox1

    h2= 'Reeda Hanif'

    h3= 'Bucket List:'
    p Watch the &nbsp;
        a(href='https://66.media.tumblr.com/80f343683228e8fe6715dc93a5f58257/tumblr_mwoyhsU43B1rfuijjo1_400.gifv') Aurora Borealis
        | &nbsp ...from a snowy place
    p Take a ride on a hot-air balloon
    p Get my MD/PhD
    p Work with &nbsp;
        a(href='https://www.doctorswithoutborders.org/') Doctors without Borders
    p Visit South France